<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <style>
        .demo {
            width: 100px;
            height: 100px;
            background-color: grey;
            display: inline-block;
            margin: 10px;
        }
        
        .red {
            background-color: red;
        }
        
        .blue {
            background-color: blue;
        }
        
        .green {
            background-color: green;
        }
    </style>
    <script src="vue/vue.js">
    </script>
</head>

<body>
    <div id="app">
        <div class="demo" @click="attachRed = !attachRed" :class="divClasses"></div>
        <div class="demo" :class="{red: attachRed}"></div>
        <div class="demo" :class="[color, {red: attachRed}]"></div>
        <div class="demo" :style="{backgroundColor: color}"></div>
        <div class="demo" :style="myStyle"></div>
        <hr>
        <input type="text" v-model="color">
        <input type="text" v-model="width">
    </div>


    <script>
        new Vue({
            el: '#app',
            data: {
                attachRed: false,
                color: 'green',
                width: 100
            },
            computed: {
                divClasses: function() {
                    return {
                        red: this.attachRed,
                        blue: !this.attachRed
                    }
                },
                myStyle() {
                    return {
                        backgroundColor: this.color,
                        width: this.width + 'px'
                    }
                }
            }

        });
    </script>
</body>

</html>