<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="vue/vue.js">
    </script>
</head>

<body>
    <div id="exercise">
  <!-- 1) Hook up the button to toggle the display of the two paragraphs. Use both v-if and v-show and inspect the elements to see the difference -->
  <div>
    <button @click="show = !show">Toggle</button>
    <p>You either see me ...</p>
    <p v-if='show'>...or me</p>
    <p>You either see me ...</p>
    <p v-show='show'>...or me</p>
  </div>
  <!-- 2) Output an <ul> of array elements of your choice. Also print the index of each element. -->
  <ul>
    <li v-for="(name, index) in names">({{ index }}): {{ name }}</li>
  </ul>
  <!-- 3) Print all key-value pairs of the following object: {title: 'Lord of the Rings', author: 'J.R.R. Tolkiens', books: '3'}. Also print the index of each item. -->
  <ul>
    <li v-for="(value, key, index) in object">{{ index }}: {{ key }}: {{ value }}</li>
  </ul>
  <!-- 4) Print the following object (only the values) and also create a nested loop for the array: {name: 'TESTOBJECT', data: [1.67, 1.33, 0.98, 2.21]} (hint: use v-for and v-if to achieve this) -->
  <ul>
    <li v-for="obj in object2">
      <template v-if=" obj instanceof Array">
        <template v-for= "o in obj">
          {{ o }}
        </template>
      </template>
      <template v-else>
        {{ obj }}
      </template>
    </li>
  </ul>
</div>
    <script>
        new Vue({
            el: '#exercise',
            data: {
                show: false,
                names: ['Adam', 'Ann', 'Mark', 'Daniel'],
                object: {title: 'Lord of the Rings', author: 'J.R.R. Tolkiens', books: '3'},
                object2: {name: 'TESTOBJECT', data: [1.67, 1.33, 0.98, 2.21]}
            }
        });
    </script>
</body>

</html>
